<p id="notice"><%= notice %></p>
  <strong>Id:</strong>
  <%= @site.id %>
</p>
  <strong>Name:</strong>
  <%= @site.site_name %>
</p>

  <strong>well_reference:</strong>
  <%= @site.well_reference %>
</p>
  <strong>latitude:</strong>
  <%= @site.latitude %>
</p>
  <strong>longitude:</strong>
  <%= @site.longitude %>
</p>
  <strong>start:</strong>
  <%= @site.start %>
</p>
  <strong>end:</strong>
  <%= @site.end %>
</p>
  <strong>measure_count:</strong>
  <%= @site.measure_count %>
</p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>
  <strong>City:</strong>
  <%= @site.city %>
</p>
  <strong>State:</strong>
  <%= @site.state %>
</p>
  <strong>Zip:</strong>
  <%= @site.zip %>
</p>





<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
