<!DOCTYPE html>
<html>
<head>
  <title><%= Measurement::MEASUMENT_NAME %> Data Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <script src="https://use.fontawesome.com/22ec685a34.js"></script>

  <%= csrf_meta_tags %>
</head>
<p id="notice"><%= notice %></p>
<body>

<%= yield %>
<script
  src="<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}&libraries=drawing&callback=loadMap" %>"
  async
  defer>
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>
